/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #f1f5f9;
  color: #0f172a;
  line-height: 1.6;
}

/* HEADER */
header {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  background: white;
  padding: 12px;
  gap: 20px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e2e8f0;
}

nav a {
  text-decoration: none;
  color: #64748b;
  font-weight: bold;
}

nav a:hover {
  color: #0f172a;
}

/* MAIN */
main {
  width: 90%;
  max-width: 850px;
  margin: 30px auto;
}

/* SECTIONS */
section {
  background: white;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* HEADINGS */
h2 {
  margin-bottom: 15px;
}

/* IMAGES */
img {
  width: 100%;
  border-radius: 12px;
  margin-top: 10px;
}

/* INPUTS */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
}

/* BUTTON */
button {
  background: #1a8917;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  color: #64748b;
  margin-top: 20px;
}

/* RESPONSIVE DESIGN (MEDIA QUERIES) */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  section {
    padding: 20px;
  }

  header {
    padding: 30px 15px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 20px;
  }

  section {
    padding: 15px;
  }
}